<% flashed_errors(:recipe) %>
<p>
  <b>Name</b><br />
  <%= text_field 'recipe', 'name', :style =>'width:300px; ' %>
</p>

<p>
  <b>Description</b><br />
  <%= text_area 'recipe', 'description', :style =>'width:663px; height: 100px;' %>
</p>

<p>
  <b>Body</b><br />
  <%= text_area 'recipe', 'body', :style =>'width:663px; height: 400px;' %>
</p>

<%= observe_field "recipe_body", :frequency => 2.5, :with => "Form.Element.serialize('recipe_body')", :url => preview_recipes_url%>
<div id="preview_fieldset">
  <fieldset class="fieldset" style="width:560px;">
    <legend>Code-Preview</legend>
    <div id="preview">
      <%= render(:partial => 'preview', :locals => {:recipe => @recipe}) %>
    </div>
  </fieldset>
<br/>
</div>

