<% flashed_errors(:host) %>

<% form_for(:host, :url => hosts_path) do |f| %>
  <p>
    <b>Name (DNS name or IP address)</b><br />
    <%= f.text_field :name, :style => 'width: 330px' %>
  </p>

  <%= link_to 'Back to hosts', hosts_path, :class => 'arrow_link ontheright', :style => 'margin-right: 330px' %>

  <p>
    <%= submit_tag "Create host" %>
  </p>
<% end %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Manage hosts", hosts_path, :style => "float:right", :class => "arrow_link" %>
    <%= link_to "Hosts", hosts_path %> &gt; 
    New
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "New host" %>
  <h2>New host</h2>
<% end %>
