<% if deployments.empty? %>
  <br/>
    This user has never deployed any stages. 
  <br/>
<% else %>



<table border="0" width="100%" cellpadding="0" cellspacing="0" class="deployment_block">
  <tr>
    <td align="right"><b>Project:</b></td>
    <td><a href="#">testproject</a></td>
    <td align="right"><b>User:</b></td>
    <td><a href="#">admin</a></td>
    <td align="right"><b>Started:</b></td>
    <td>2008-09-23 14:33</td>
    <td width="1" rowspan="3"><%= image_tag('peritor_theme/pixel_grey.gif', :width => '1', :height => '50') %></td>
    <td width="80" rowspan="2" align="center">
      <%= image_tag('peritor_theme/status_running_small.gif', :width => '53', :height => '40') %>
    </td>
  </tr>
  <tr>
    <td align="right"><b>Stage:</b></td>
    <td><a href="#">Dev</a></td>
    <td align="right"><b>Task:</b></td>
    <td>deploy</td>
    <td align="right"><b>Duration:</b></td>
    <td>34 seconds</td>
  </tr>
  <tr>
    <td align="right"><b>Comment:</b></td>
    <td colspan="5">blablabla</td>
    <td align="center">
      <%= link_to 'Repeat', user_path(@user), :class => 'arrow_link' %>
    </td>
  </tr>
</table>


<table border="0" width="100%" cellpadding="0" cellspacing="0" class="deployment_block">
  <tr>
    <td align="right"><b>Project:</b></td>
    <td><a href="#">testproject</a></td>
    <td align="right"><b>User:</b></td>
    <td><a href="#">admin</a></td>
    <td align="right"><b>Started:</b></td>
    <td>2008-09-23 14:33</td>
    <td width="1" rowspan="3"><%= image_tag('peritor_theme/pixel_grey.gif', :width => '1', :height => '50') %></td>
    <td width="80" rowspan="2" align="center">
      <%= image_tag('peritor_theme/status_canceled_small.gif', :width => '53', :height => '40') %>
    </td>
  </tr>
  <tr>
    <td align="right"><b>Stage:</b></td>
    <td><a href="#">Dev</a></td>
    <td align="right"><b>Task:</b></td>
    <td>deploy</td>
    <td align="right"><b>Duration:</b></td>
    <td>34 seconds</td>
  </tr>
  <tr>
    <td align="right"><b>Comment:</b></td>
    <td colspan="5">blablablsda</td>
    <td align="center">
      <%= link_to 'Repeat', user_path(@user), :class => 'arrow_link' %>
    </td>
  </tr>
</table>

<table border="0" width="100%" cellpadding="0" cellspacing="0" class="deployment_block">
  <tr>
    <td align="right"><b>Project:</b></td>
    <td><a href="#">testproject</a></td>
    <td align="right"><b>User:</b></td>
    <td><a href="#">admin</a></td>
    <td align="right"><b>Started:</b></td>
    <td>2008-09-23 14:33</td>
    <td width="1" rowspan="3"><%= image_tag('peritor_theme/pixel_grey.gif', :width => '1', :height => '50') %></td>
    <td width="80" rowspan="2" align="center">
      <%= image_tag('peritor_theme/status_failed_small.gif', :width => '53', :height => '40') %>
    </td>
  </tr>
  <tr>
    <td align="right"><b>Stage:</b></td>
    <td><a href="#">Dev</a></td>
    <td align="right"><b>Task:</b></td>
    <td>deploy</td>
    <td align="right"><b>Duration:</b></td>
    <td>34 seconds</td>
  </tr>
  <tr>
    <td align="right"><b>Comment:</b></td>
    <td colspan="5">blablablsda</td>
    <td align="center">
      <%= link_to 'Repeat', user_path(@user), :class => 'arrow_link' %>
    </td>
  </tr>
</table>

<table border="0" width="100%" cellpadding="0" cellspacing="0" class="deployment_block">
  <tr>
    <td align="right"><b>Project:</b></td>
    <td><a href="#">testproject</a></td>
    <td align="right"><b>User:</b></td>
    <td><a href="#">admin</a></td>
    <td align="right"><b>Started:</b></td>
    <td>2008-09-23 14:33</td>
    <td width="1" rowspan="3"><%= image_tag('peritor_theme/pixel_grey.gif', :width => '1', :height => '50') %></td>
    <td width="80" rowspan="2" align="center">
      <%= image_tag('peritor_theme/status_success_small.gif', :width => '53', :height => '40') %>
    </td>
  </tr>
  <tr>
    <td align="right"><b>Stage:</b></td>
    <td><a href="#">Dev</a></td>
    <td align="right"><b>Task:</b></td>
    <td>deploy</td>
    <td align="right"><b>Duration:</b></td>
    <td>34 seconds</td>
  </tr>
  <tr>
    <td align="right"><b>Comment:</b></td>
    <td colspan="5">blablablsda</td>
    <td align="center">
      <%= link_to 'Repeat', user_path(@user), :class => 'arrow_link' %>
    </td>
  </tr>
</table>





  <table class="sortable">
    <tr>
      <th>Project/Stage</th>
      <th>Task</th>
      <th>Started<br />Completed<br /></th>
      <th style="width:200px;">Comment</th>
      <th>Revision</th>
      <th>Status</th>
    </tr>
  <% for deployment in deployments %>
    <tr class="<%= cycle :even, :odd, :name => 'deployments' %>">
      <td>
        <%= link_to h(deployment.stage.project.name), project_path(deployment.stage.project) %>/<br />
        <%= link_to h(deployment.stage.name), project_stage_path(deployment.stage.project, deployment.stage) %>
      </td>
      <td><%= link_to h(deployment.task), project_stage_deployment_path(deployment.stage.project, deployment.stage, deployment) %></td>
      <td ><%=h deployment.created_at.to_s(:log)  %><br /><%=h deployment.completed_at.to_s(:log) rescue '&nbsp;' %></td>
      <td title="<%=h deployment.description %>"><%=h truncate(deployment.description, 37) %></td>
      <td title="<%=h deployment.revision %>"><%=h truncate(deployment.revision, 10) %></td>
      <td style="padding:3px 0px 0px 0px;" valign="middle" align="center"><%= image_tag('peritor_theme/'+deployment.status_image, :title => deployment.status )%></td>
      <td>
        <% if deployment.completed? %>
          <%= link_to "Repeat", new_project_stage_deployment_path(deployment.stage.project, deployment.stage) + '?repeat=' + h(deployment.id)  %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
<% if deployments.size != user.deployments.count %>
  <br />
  <%= link_to "Complete deployment history", deployments_user_path(user), :class => 'arrow_link' %>
<% end %>
