<% flashed_errors(:user) %>
<%- if @user.local_user? -%>
  <p>
    <b>Login</b><br />
    <%= text_field 'user', 'login', :style =>'width:330px;' %>
  </p>

  <p>
    <b>Email</b><br />
    <%= text_field 'user', 'email', :style =>'width:330px;' %>
  </p>
  
  <script type="text/javascript" charset="utf-8">
   function handle_auth_source_select_change(obj) {
     if(obj.value === '' || obj.value === null) {
       $('local_user_fields').show();
     } else {
       $('local_user_fields').hide();
     }
       // $('user_auth_source_id').value === '1' || $('user_auth_source_id').value == null)
      // alert(obj.value); 
    } 
  </script>
  <p>
    <b>Auth Source</b><br />
    <%= select 'user', 'auth_source_id', AuthSource.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }, :style =>'width:330px;', 
      :onchange => "handle_auth_source_select_change(this)" %>
      <%= link_to 'Edit & change auth sources', auth_sources_path %>
  </p>

  <div id="local_user_fields">
    <% unless WebistranoConfig[:authentication_method] == :cas -%>
    <p>
      <b>Password</b><br />
      <%= password_field 'user', 'password', :style =>'width:330px;' %>
    </p>

    <p>
      <b>Password confirmation</b><br />
      <%= password_field 'user', 'password_confirmation', :style =>'width:330px;' %>
    </p>
  
    <script type="text/javascript" charset="utf-8">
     handle_auth_source_select_change($('user_auth_source_id'));
    </script>
    <% end -%>
  </div>
<%- end -%>

<p>
  <b>Timezone</b><br />
  <%= time_zone_select 'user', :time_zone, ActiveSupport::TimeZone.all, {},{:style => "width:330px;"} %>
</p>

<% if logged_in? && current_user.admin? -%>
  <p>
    <%= check_box 'user', 'admin', :class => 'noframe' %> <b>Admin?</b> 
  </p>
  
  <p>
    <%= check_box 'user', 'manage_hosts', :class => 'noframe' %> <b>Can manage hosts?</b> 
  </p>
  
  <p>
    <%= check_box 'user', 'manage_recipes', :class => 'noframe' %> <b>Can manage recipes?</b> 
  </p>
  
  <p>
    <%= check_box 'user', 'manage_projects', :class => 'noframe' %> <b>Can manage projects?</b> 
  </p>
  
  <h3>Project access</h3>
  <%- @projects.each do |project| -%>
    <p>
      <%= check_box_tag "user[project_ids][]", project.id, @user.projects.include?(project), :class => 'noframe' %> <b><%= project.name %></b> 
    </p>
  <%- end -%>
  
<% end -%>
