<% form_for(:user, :url => user_path(@user), :html => { :method => :put }) do |f| %>
  
  <%= render(:partial => 'form')%>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Back', user_path(@user), :class => 'arrow_link' %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Manage users", users_path, :style => "float:right", :class => "arrow_link" %>
    <span class="h2_light">User</span> <%= link_to @user.login, user_path(@user) %> 
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "Edit user #{h(@user.login)}" %>
  <h2><span class="h2_light">Edit</span> <%= user_info(@user)%></h2>
<% end %>
