<fieldset class="fieldset">
  <legend> <%= pluralize(Project.count, 'Project')%> listed</legend>

<% if @projects.empty? %>
<br/>
    No projects configured yet.<br />
    Please add a project.
  <br/>
<% else %>
  <table class="sortable">
    <tr>
      <th width="1%">Name</th>
      <th width="96%">Description</th>
      <th width="1%">#Stages</th>
      <th width="1%">#Deploy.</th>
      <th width="1%">Created At</th>
    </tr>
    <% for project in @projects %>
      <tr class="<%= cycle :even, :odd, :name => 'projects'  %>">
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.description %></td>
        <td><%= project.stages.count %></td>
        <td><%= project.deployments.count %></td>
        <td><%= project.created_at.to_s(:date_with_day) %></td>
        <%- if current_user.can_edit?(project) -%>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Clone', clone_form_path(project) %></td>
          <td><%= link_to 'Delete', project_path(project), :confirm => 'Are you sure?', :method => :delete %></td>
        <%- end -%>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<%- if current_user.admin? || current_user.manage_projects? -%>
  <%= link_to 'New project', new_project_path, :class => 'arrow_link' %>
<%- end -%>

</fieldset>

<% content_for(:breadcrumb) do %>
	<%= link_to "Projects", projects_path %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "Projects" %>
  <h2>Projects</h2>
<% end %>
