<h3>Effective Configuration</h3>

<% if @stage.effective_configuration.empty? %>
  <br/>
    No effective configuration present. The effective configuration is the result of the stage 
    specific configuration entries overriding the project configuration entries. 
  <br/>
<% else %>
  <table class="sortable">
    <tr>
      <th width="1%">Name</th>
      <th width="98%">Value</th>
      <th width="1%">Prompt</th>
    </tr>
  <% @stage.effective_configuration.each do |conf| %>
    <tr class="<%= cycle :even, :odd, :name => 'effective_conf' %>">
      <td title="<%=h conf.name %>"><%= truncate(h(conf.name), :length => 25) %></td>
      <td title="<%=h conf.value %>"><%=h truncate(hide_password_in_value(conf), :length => 45) %></td>
      <td><%= conf.prompt_status_in_html %></td>
    </tr>
  <% end %>
  </table>
<% end %>
