<% flashed_errors(:stage) %>

<% form_for(:stage, :url => project_stage_path(@project, @stage), :html => { :method => :put }) do |f| %>
  
  <%= render(:partial => 'form' ) %>
  
  <%= link_to 'Back to stage', project_stage_path(@project, @stage), :class => 'arrow_link ontheright', :style => 'margin-right: 330px' %>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Back to stage", project_stage_path(current_project, current_stage), :style => "float:right", :class => "arrow_link" %>
    <%= link_to "Projects", projects_path %> &gt; 
    Project <%= link_to current_project.name, project_path(current_project) %> &gt; 
    Stage <%= link_to current_stage.name, project_stage_path(current_project, current_stage) %>  &gt; 
    Edit
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "Edit project #{h(current_project.name)}" %>
  <h2>Edit</h2>
<% end %>
