<% form_tag(project_stage_roles_path(current_project, current_stage), :method => :post) do %>
  
  <%= render(:partial => 'form')%>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', project_stage_path(current_project, current_stage), :class => 'arrow_link' %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Back to stage", project_stage_path(current_project, current_stage), :style => "float:right", :class => "arrow_link" %>
    <span class="h2_light">Project</span> <%= link_to current_project.name, project_path(current_project) %> 
    <span class="h2_light">Stage</span> <%= link_to current_stage.name, project_stage_path(current_project, current_stage) %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "New host for #{h(current_stage.name)}" %>
  <h2><span class="h2_light">New</span> host for <%=h current_stage.name %></h2>
<% end %>
