<% form_tag(project_stage_roles_path(current_project, current_stage), :method => :post) do %>
  
  <%= render(:partial => 'form')%>

  <%= link_to 'Back to role', project_stage_path(current_project, current_stage), :class => 'arrow_link ontheright', :style => 'margin-right: 330px' %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Back to stage", project_stage_path(current_project, current_stage), :style => "float:right", :class => "arrow_link" %>
    Project <%= link_to current_project.name, project_path(current_project) %> &gt; 
    Stage <%= link_to current_stage.name, project_stage_path(current_project, current_stage) %> &gt; 
    New role
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "New host for #{h(current_stage.name)}" %>
  <h2>New role for <%=h current_stage.name %></h2>
<% end %>
