<% form_for(:configuration, :url => project_project_configurations_path(current_project)) do |f| %>

  <%= render(:partial => 'form')%>

  <p><br />
    <%= submit_tag "Create" %>
  </p>
  
<% end %>
<%= link_to 'Back to project', project_path(current_project), :class => 'arrow_link'  %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Back to project", project_path(current_project), :style => "float:right", :class => "arrow_link" %>
    <span class="h2_light">Project</span> <%= link_to current_project.name, project_path(current_project) %> 
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "New configuration for project #{h(current_project.name)}" %>
  <h2><span class="h2_light">New</span> configuration for <%= link_to h(current_project.name), project_path(current_project) %></h2>
<% end %>
