<% form_for(:configuration, :url => project_project_configurations_path(current_project)) do |f| %>

  <%= render(:partial => 'form')%>
  <br/>

  <%= link_to 'Back to project', project_path(current_project), :class => 'arrow_link ontheright', :style => 'margin-right: 330px' %>

  <p>
    <%= submit_tag "Create" %>
  </p>
  
<% end %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Back to project", project_path(current_project), :style => "float:right", :class => "arrow_link" %>
    <%= link_to "Projects", projects_path %> &gt; 
    Project <%= link_to current_project.name, project_path(current_project) %> &gt; 
    New
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "New configuration" %>
  <h2>New configuration</h2>
<% end %>
