<fieldset class="fieldset">
  <legend>Complete Deployment history</legend>
  
<% if @stage.deployments.empty? %>
  <br/>
    This stage was never deployed. 
  <br/>
<% else %>
  <% @stage.deployments.each do |deployment| %>
    <%= render(:partial => 'deployments/list_item', :locals => {:deployment => deployment}) %>
  <% end %>
<% end %>
<br />

</fieldset>

<br />

<%= link_to "Back", project_stage_path(current_project, current_stage), :class => 'arrow_link' %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Projects", projects_path %> &gt; 
    Project <%= link_to current_project.name, project_path(current_project) %> &gt; 
    Stage <%= link_to current_stage.name, project_stage_path(current_project, current_stage) %> &gt; 
    Deployments
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "Deployment history: Project #{h(current_project.name)} - Stage #{h(current_stage.name)} " %>
  <h2>Deployment history of <%= link_to h(current_stage.name), project_stage_path(current_project, current_stage) %></h2>
<% end %>

