<% flashed_errors(:deployment) %>

<% form_for(:deployment, :url => project_stage_deployments_path(@project, @stage)) do |f| %>
  <p>
    <b>Task</b><br />
    <%= f.text_field :task, :style => 'width:330px;' %>
  </p>
  
  <p>
    <b>Comment</b><br />
    <%= f.text_area :description, :style => 'width:330px;height:80px;' %>
  </p>
  
  <% unless @stage.prompt_configurations.empty? %>
    <% @stage.prompt_configurations.each do |conf| %>
      <p>
        <b>Config: <%=h conf.name %></b><br />
        <input type="<%=h input_type(conf.name) %>" id="deployment_prompt_config_<%=h conf.name %>" name="deployment[prompt_config][<%=h conf.name %>]" style="width:330px;" value="<%=h @deployment.prompt_config[conf.name.to_sym]%>" />
      </p>
    <% end %>
  <% end %>
  
  <!-- hidden ids of hosts to exlude -->
  <% for host in @stage.hosts.sort_by{|x| x.name} %>
    <input style="display:none;" type="checkbox" value="<%=h host.id %>" name="deployment[excluded_host_ids][]" id="deployment_excluded_host_ids_<%=h host.id %>" <%= (@deployment.excluded_host_ids.include?(host.id) ? 'checked="checked"' : ''  rescue '')%>/></td>
  <% end %>
  
  <br />
  <p>
    <%= submit_tag "Start Deployment" %>
  </p>
<% end %>

<%= link_to 'Back', project_stage_path(@project, @stage), :class => 'arrow_link'  %>

<% content_for(:page_scripts) do %>
  <script type="text/javascript">
    
    function disable_host(){
      var own_id = /host_(\d)_on/.exec(this.id)[1];
      var other_id = "host_" + own_id + '_off';
      $(this).hide();
      $(other_id).show();
      $('deployment_excluded_host_ids_' + own_id).writeAttribute('checked', 'checked');
      $(this).up('tr').removeClassName('enabled_host');
      $(this).up('tr').addClassName('disabled_host');
    }
    
    function enable_host(){
      var own_id = /host_(\d)_off/.exec(this.id)[1];
      var other_id = "host_" + own_id + '_on';
      $(this).hide();
      $(other_id).show();
      $('deployment_excluded_host_ids_' + own_id).writeAttribute('checked', false);
      $(this).up('tr').removeClassName('disabled_host');
      $(this).up('tr').addClassName('enabled_host');
    }
    
    Event.observe(window, 'load', function(){    
      $$('img.exlcude_host_trigger_on').each(function(el){
        el.observe('click', disable_host);
      });
      
      $$('img.exlcude_host_trigger_off').each(function(el){
        el.observe('click', enable_host);
      })
    });
  </script>
<% end %>

<% content_for(:action_box) do %>

<div class="small_box">
  <div class="small_box_top"></div>
  <div class="small_box_middle">
		 <h3>Deploying hosts</h3>
		  <% if @stage.roles.count > 0 %>
		    <form name="excluded_hosts_form" id="excluded_hosts_form">
          <table style="width: 210px;">
            <% for host in @stage.hosts.sort_by{|x| x.name} %>
              <tr class="<%= if_disabled_host?(host,'disabled_host') %>">
                <td style="padding:3px 0px 0px 0px;" valign="middle" align="center">
                  <%= image_tag('peritor_theme/checkbox_on.gif', 
                                :id => "host_#{host.id}_on", 
                                :class => 'exlcude_host_trigger_on',
                                :style => if_disabled_host?(host,'display:none;') + 'cursor:pointer;')%>
                  <%= image_tag('peritor_theme/checkbox_off.gif', 
                                :id => "host_#{host.id}_off", 
                                :class => 'exlcude_host_trigger_off',
                                :style => if_enabled_host?(host,'display:none;') + 'cursor:pointer;')%>
                </td>
                <td><%= link_to h(host.name), host_path(host) %></td>
              </tr>
            <% end %>
          </table>
        </form>
       <% else %>
       No hosts for this stage!<br /><br />
      <% end %>
  </div>
  <div class="small_box_bottom"></div>
</div>
<% end %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Back to stage", project_stage_path(current_project, current_stage), :style => "float:right", :class => "arrow_link" %>
    <%= link_to "Projects", projects_path %> &gt; 
    Project <%= link_to current_project.name, project_path(current_project) %> &gt; 
    Stage <%= link_to current_stage.name, project_stage_path(current_project, current_stage) %> &gt; 
    Deployment
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "Deploy stage #{h(current_stage.name)} of project #{h(current_project.name)}" %>
  <h2>Deployment</h2>
<% end %>
