<% flashed_errors(:configuration) %>

<% form_for(:configuration, :url => project_stage_stage_configurations_path(@project, @stage)) do |f| %>
  
  <%= render(:partial => 'project_configurations/form')%>
  <br/>

  <%= link_to 'Back to stage', project_stage_path(@project, @stage), :class => 'arrow_link ontheright', :style => 'margin-right: 330px' %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Back to stage", project_stage_path(current_project, current_stage), :style => "float:right", :class => "arrow_link" %>
    <%= link_to "Projects", projects_path %> &gt; 
    Project <%= link_to current_project.name, project_path(current_project) %> &gt;  
    Stage <%= link_to current_stage.name, project_stage_path(current_project, current_stage) %> &gt; 
    New
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "New configuration" %>
  <h2>New configuration</h2>
<% end %>
