<div id="hosts_open_content" style="<%=h show_if_opened(status) %>">
  <% if @sidebar_hosts.present? %>
    <% for host in @sidebar_hosts %>
      <a href="<%= host_path(host) %>" class="menu_link <%=h active_link_class(host) %>" title="<%=h host.name %>">
  	    <div class="menu_link_title">
  	      <%=h host.name %>
  	    </div>
      </a>
    <% end %>
  <% else %>
    <div class="menu_item">No host created yet</div>
    <%- if current_user.can_manage_hosts? -%>
      <a href="<%= new_host_path %>" class="menu_link  menu_link_create">
  	    <div class="menu_link_title">
  	      New host
  	    </div>
  	  </a>
  	<%- end -%>
  <% end %>
</div>
<div id="hosts_closed_content" style="<%=h show_if_closed(status) %>">
  <a href="javascript:open_menu_box('hosts')" class="menu_link  menu_link_create">
	  <div class="menu_link_title">
	    <%=h pluralize(@sidebar_hosts.length, 'host')%>
	  </div>
  </a>
</div>  
