<div id="projects_open_content" style="<%=h show_if_opened(status) %>">
  <% projects = Project.find(:all, :conditions => { :favorite => 0 },  :order => "name ASC") %>
  <% if projects.count > 0 %>
	<%= render(:partial => 'layouts/project_view', :locals => { :projects => projects } )%>
  <% else %>
    <div class="menu_item">No project created yet</div>
   <a href="<%= new_project_path %>" class="menu_link  menu_link_create">New project</a>
  <% end %>
</div>
<div id="projects_closed_content" style="<%=h show_if_closed(status) %>">
  <a href="javascript:open_menu_box('projects')" class="menu_link  menu_link_create">
	  <div class="menu_link_title">
	    <%=h pluralize(projects, 'project')%>
	  </div>
  </a>
</div>
