<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="Peritor Webistrano - Capristrano Deployment the easy way" />
  <meta name="keywords" content="rubyonrails ruby rails capistrano deployment" />
  <title>Peritor Webistrano - <%=h @page_title %></title>
  <link rel="shortcut icon" href="/favicon.ico"></link>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'application' %>
  <%= yield :page_scripts %>
</head>

<body>
  <div id="app_top">
    <div id="header">
      <div id="header_claim">Capistrano deployment the easy way</div>
      <a href="<%= home_path %>"><%= image_tag('peritor_theme/webistrano_logo.gif', :border => '0')%></a>
    </div>
    <div id="main_content">
      <% if logged_in? %>
        <div class="menu">
          <%= render(:partial => 'layouts/menu') %>
        </div>
      <% else %>
        <div style="width:80px; float:left;">&nbsp;</div>
      <% end %>
      <div class="content">
        <%= yield :breadcrumb %>
        <%= yield :flash_content %>
        <%= yield :page_title %>

        <% unless flash[:notice].blank? %>
          <%= nice_flash(flash[:notice]) %>
        <% end %>

        <% unless flash[:error].blank? %>
          <%= error_flash(flash[:error]) %>
        <% end %>

        <%= yield :action_box %>
        
        <%= yield  %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="app_bottom"></div>

  <div id="footer">
    <div id="footer_logged">
      <% if logged_in? %>
       Logged in as <%= link_to h(current_user.login), user_path(current_user) %> | <%= link_to 'Logout', logout_path %> 
      <% end %>
    </div>
    Copyright &copy; 2007, 2008, 2009 | Version <%=h WEBISTRANO_VERSION %> | <a href="http://labs.peritor.com/webistrano" target="_blank">http://labs.peritor.com/webistrano</a>
  </div>
</body>

</html>
